
{{>layouts/header}}
{{>layouts/nav}}

<div>
    {{# id}}
        <h1> Hello {{id}} {{username}}! </h1>
    {{/ id}}
    {{^ id}}
        <h1> Hello {{username}}! </h1>
    {{/ id}}
</div>

{{>layouts/footer}}
